<!--app-entry is defined in entry/entry.component.ts-->

<app-newentry (newEntry)="updateEntryList()"></app-newentry>
<br />
<br />

<div class="container" id="sale_items_jump">
  <h3>Items for Sale / Sold by {{ user }}</h3>
  <p>Items: {{ getNumberOfEntries() }}</p>
  <div class="row">
    <div class="card-deck col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 card-margin" *ngFor="let entryUnit of entries">
      <app-entry [entry]="entryUnit" [baseURL]="imageBaseURL"> </app-entry>
    </div>
  </div>
  <br>
</div>