doctype html
title About: tBay | An Online Marketplace!
h1 About tBay
h4 Made by Terry Chau for CSCI E-31 in Spring 2019
p
  | tBay is a fictitious online marketplace created to demonstrate web development technologies using Node.js.
  br
  br
  | Parts of this project are heavily influenced by Professor L. Bouthiller's #[a(href='https://github.com/Harvard-DCE-CSCIE3/cscie31-spring2019/tree/master/08.2-photo-app-example') 08.2-photo-app-example].
  br
  br
  | The CC0 licensed stock photos, which stocksnap.io indicates may be used without attribution, are retrieved from #[a(href='https://stocksnap.io/') stocksnap.io].  Stock images include works by: donterase, Studio 7042, Freestocks.org, Pawel Kadysz, and Jess Watters.
  br
  br
a(href='main') Back to tBay

