<div class="container col-lg-6 col-md-10 col-sm-11 mx-auto">
  <h3>About</h3>
  <p>Tbay is a fictitious online marketplace with CRUD functionality to list items for sale.  The front end is written in Angular.  The front end interacts with the back end by way of a REST API service that is written in Express.  Data is persisted in a Mongo database.  Finally, design templates from the Bootstrap framework is used in the front end.</p>
  <p>Tbay is made by Terry Chau for CSCI E-31: Web Application Development using Node.js.  This course was taught in the Spring of 2019.</p>
</div>